* {
    color: #225544;
}
#init-form {
    width: 500px;
    margin: 0 auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
#execution {
    margin: 40px auto;
    width: 1100px;
}
.form-container {
    padding: 0 30px 30px 30px;
    overflow: auto;
}
.form-container > div {
    margin-bottom: 10px;
    overflow: auto;
}
input,button {
    float: left;
}
input {
    width: 95%;
    border-radius: 5px;
    padding: 4px;
}
.operation div.op {
    width: 32%;
    float: left;
    margin-right: 5px;
}
.operation input,select {
    width: 90%;
    border-radius: 5px;
    padding: 4px;
    float: none;
}
.operation select {
    width: 100%;
}
h1 {
    padding: 0 20%;
}
button {
    font-size: 16px;
    font-weight: bold;
    padding: 3px 9px;
    background-color: #73CC9A;
    border: 2px solid #69BB84;
    border-radius: 5px;
    color: #223525;
}
#btn-submit {
    float: right;
    margin-right: 10px;
}
button:hover,button:focus {
    background-color: #73CC69;
    border-color: #50AA66;
    color: #112214;
}
button:active {
    background-color: #55AA53;
    border-color: #67DD77;
}
.error {
    border-color: #FF4949;
}
span {
    float: left;
    color: #BB0000;
    margin-top: 4px;
    font-size: 14px;
}
span.counter-container {
    float: right;
    margin-right: 40px;
    margin-top: 0;
    color: inherit;
}
span#counter {
    float: right;
    color: inherit;
    margin-top: 0;
    margin-left: 4px;
}
#execution span {
    color: inherit;
}
.counter label, .counter input{
    width: 25%;
    float: left;
}
.counter input{
    border: none;
}
.counter {
    overflow: auto;
    clear: both;
}
.main-section {
    margin: 10px 0;
    overflow: auto;
}
.main-section section {
    width: 28%;
    margin: 0 1%;
    float: left;
    border-right: 1px dashed;
}
.main-section label {
    display: block;
}
.main-section input {
    width: 90%;
    border: none;
}
#execution h1 {
    padding: 0 30px;
}
h2 {
    font-size: 16px;
}
.left {
    float: left;
    margin-left: 10px;
    clear: left;
}
.right {
    float: right;
    margin-right: 10px;
    clear: right;
}
.col-md-3 {
    width: 24%;
    margin: 0 auto;
    display: inline-block;
    height: 32px;
}
.col-md-6 {
    width: 48%;
    margin: 0 auto;
    display: inline-block;
}
.hidden {
    display: none;
}
.center-text {
    text-align: center;
}