h1 {
    width: 310px;
    margin: 20px auto;
}
button {
    float: right;
    margin-right: 134px;
}
.status {
    display: inline-block;
    width: 220px;
    margin-left: 96px;
    margin-bottom: 10px;
}
.status > input {
    width: 56%;
    float: right;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100px;
    height: 100px;
}
.empty {
    background-color: #6AE;
}
.occupied {
    background-color: #F22;
}
